#formContainer {
  text-align: center;
  width: 100%;
  height: 100%;
}

form {
  width: 25%;
  text-align: left;
  display: inline-block;
}

.formField {
  width: 100%;
  margin: 8px 24px 8px 24px;
}

button {
  margin: 16px 16px 16px 16px;
}

h1 {
  font-weight: bold;
  margin: 32px 0 16px 0;
  color: gray;
}

a {
  margin: 16px 16px 16px 16px;
}

#button-group
{
  width:100%;
  text-align: right;
}

#submit-button-group
{
  width:100%;
}

.inner-button
{
  display: inline-block;
}
