<div id="formContainer">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="mat-headline">Sign in</h1>
    <mat-form-field class="formField">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" required/>
      <mat-error *ngIf="f.username.hasError('required')">Username is required.</mat-error>
    </mat-form-field>

    <mat-form-field class="formField">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required/>
      <mat-error *ngIf="f.password.hasError('required')">Password is required.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign in</button>
    <a mat-button color="primary" routerLink="/register">If you don't have an account sign up here.</a>
  </form>
</div>
